#projects{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#project-header{
    padding-top: 7rem;
    font-family: 'Radley';
    font-size: 5rem;
    text-align: center;
    margin: 0;
}

#projects-div{
    display: flex;
    flex-direction: row;
}

.projects-container{
    margin: 3rem;
    width: calc(100vh/2.5);
    height: calc(100vw/4);
    text-align: center;
    background-color: #696969;
}

.project-img{
    width: 100%;
    height: 100%;
}

.project-title{
    font-family: 'Radley';
    padding: 0.5rem;
    margin: 0;
    font-size: 2rem;
    background-color: #3C3C3C;
}

/* Bigger Mobile */
@media only screen and (max-width : 767px) {

    #projects{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #project-header{
        padding-top: 10%;
        font-family: 'Radley';
        font-size: 250%;
        margin: 2%;
    }
    
    #projects-div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .projects-container{
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        width: calc(100vw/3.0);
        height: calc(100vw/3.6);
        text-align: center;
        align-items: center;
        background-color: #696969;
        flex: 1;
    }

    .project-img{
    width: 100%;
    height: 100%;
    }
    
    .project-title{
        font-family: 'Radley';
        padding: 0.5rem;
        margin: 0;
        font-size: 150%;
        background-color: #3C3C3C;
    }
    
}


/* Mobile */
@media only screen and (max-width : 501px) {

    #projects{
        height: 205vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2%;
    }

    #project-header{
        padding-top: 15%;
        font-family: 'Radley';
        font-size: 250%;
        margin: 0;
    }
    
    #projects-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4000px;
    }
    
    .projects-container{
        margin: 10%;
        width: calc(100vw/1.3);
        height: calc(100vw/3.6);
        text-align: center;
        align-items: center;
        background-color: #696969;
    }

   .project-img{
    width: 100%;
    height: 100%;
}
    .project-title{
        font-family: 'Radley';
        padding: 0.5rem;
        margin: 0;
        font-size: 150%;
        background-color: #3C3C3C;
    }
    
}


